.container {
    /*background: yellow;*/
}

.container-fluid {
    background: khaki;
}

.row {
    /*background: lightblue;*/
}

.col {
    background: lime;
}
.carousel .btn {
    background-color: red !important;
    border-color:pink;
}