/*
(lásd: II.2.c)
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : YYYY.mm.dd., HH:ii:ss
    Author     : Alkotó Neve
*/

/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
TABLE OF CONTENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
I. // Miscellaneous
II. // Navigation
III. // Forms
IV. // Buttons
V. // Welcome
VI. // Portfolio
VII. // Benefits
VIII. // Careers
IX. // Features
X. // Services
XI. // Frequently Asked Questions
XII. // Contact
XIII. // Other
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

/*
I. // Miscellaneous
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    min-width: 320px;
    background: #f8f8f8;
    overflow-x: hidden;
    color: #4d4d4d;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    margin-bottom: 30px;
}

h1 {
    margin-top: 0;
}

h4 {
    font-size: 20px;
}

a,
a:active,
a:hover {
    text-decoration: none;
    color: #fff;
}

section {
    display: inline-block;
    padding: 60px 0;
}

@media (max-width: 767px) {

    section {
        padding: 30px 0;
    }

}

.horizontal-separator {
    border-bottom: solid 1px #ccc;
    width: 88%;
    margin: 0 6%;
}

article .container {
    background: #fff;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 991px) {

    .container {
        width: auto;
    }
    
}

/*
II. // Navigation
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#navigation {
    padding: 0 !important;
    display: block;
}

.navbar-brand {
    width: 150px;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 20px;
    background: #666;
    background: #5e9fa3 url("../img/iworkshop_logo.png") center center/cover no-repeat scroll;
}

@media (max-width: 767px) {
    
    a.navbar-brand {
        display: none;
    }
    
    .navbar-brand {
        float: none;
        margin: 0 auto;
        display: inline-block;
    }
    
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
    background: #666;
    background: #5e9fa3 url("../img/iworkshop_logo.png") center center/cover no-repeat scroll;
}

.navbar-toggle {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default {
    background: #333;
    background: #5e9fa3;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    z-index: 1;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
    color: #4d4d4d;
    background: rgba(255,255,255,0.9);
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background: #666;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4d4d4d;
    background: rgba(255,255,255,0.9);
}

@media (min-width: 768px) and (max-width: 991px) {

    .navbar-default .navbar-nav > li > a {
        padding: 15px 5px;
    }
    
}

.navbar-collapse {
    border: none;
    box-shadow: none;
}

.dropdown-menu {
    min-width: 220px;
    padding: 15px;
    background: #666;
    background: rgba(255,255,255,0.9);
    border: none;
    border-radius: 0;
    padding: 15px;
}

@media (max-width: 767px) {
    
    .navbar-nav .open .dropdown-menu {
        background: rgba(255,255,255,0.9);
    }
    
}

.dropdown-menu > li > a {
    font-weight: 300;
    color: #fff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #999;
}

/*
III. // Forms
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

.form-control {
    color: #333;
    background: #fff;
    background: rgba(255,255,255,0.6);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-moz-placeholder {
    color: #333;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #333;
}

.form-control::-webkit-input-placeholder {
    color: #333;
}

label {
    color: #4d4d4d;
    font-weight: 300;
}

.radio label,
.checkbox label {
    font-weight: 300;
}

/*
IV. // Buttons
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

.btn {
    font-weight: 300;
    border: none;
    border-radius: 0;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none; 
    box-shadow: none;
}

.btn-default {
    color: #fff;
    background-color: #8b8f74;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #89a02c;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-dismiss {
    background: transparent;
}

.btn-lg {
    margin-bottom: 30px;
}

/*
V. // Welcome
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#welcome {
    padding: 0 !important;
    display: block;
}

.carousel-image-placeholder {
    width: 100%;
    height: 500px;
    background: #666;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
}

#carousel-welcome .carousel-caption {
    text-shadow: none;
}

#carousel-welcome .carousel-caption {
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
    background: rgba(88,78,66,0.3);
    padding: 15px;
}

.carousel-control i {
    position: absolute;
    top: 42%;
    font-size: 54px;
}

.carousel-control .fa-angle-left {
    left: 43%;
}

.carousel-control .fa-angle-right {
    right: 43%;
}

.carousel-control:focus,
.carousel-control:hover {
    color: rgba(255,255,255,0.9);
}

#carousel-welcome .item:nth-child(1) .carousel-image-placeholder {
    background: #78716a url("../img/brainstorming.jpg") center center/cover no-repeat scroll;
}

#carousel-welcome .item:nth-child(2) .carousel-image-placeholder {
    background: #7d737f url("../img/man_writing.jpg") center center/cover no-repeat scroll;
}

#carousel-welcome .item:nth-child(3) .carousel-image-placeholder {
    background: #7f6449 url("../img/first_discussion.jpg") center center/cover no-repeat scroll;
}

.socials.above-carousel {
    position: absolute;
    z-index: 1;
    min-width: 320px;
}

/*
VI. // Portfolio
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#portfolio .image-placeholder {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #666;    
    display: inline-block;
    overflow: hidden;
}

#portfolio .col-xs-12.col-sm-4.col-lg-4:nth-child(1) .image-placeholder {
    background: #4c4336 url("../img/post_1.jpg") center center/cover no-repeat scroll;
    background-size: 144px;
    transition: all 200ms ease-in-out;
}

#portfolio .col-xs-12.col-sm-4.col-lg-4:nth-child(2) .image-placeholder {
    background: #b69d88 url("../img/post_2.jpg") center center/cover no-repeat scroll;
    background-size: 144px;
    transition: all 200ms ease-in-out;
}

#portfolio .col-xs-12.col-sm-4.col-lg-4:nth-child(3) .image-placeholder {
    background: #8d8071 url("../img/post_3.jpg") center center/cover no-repeat scroll;
    background-size: 144px;
    transition: all 200ms ease-in-out;
}

#portfolio .col-lg-4 {
    text-align: center;
}

#portfolio p {
    height: 100px;
    padding-bottom: 15px;
    overflow: hidden;
}

@media (max-width: 767px) {

    #portfolio .btn-default {
        margin-bottom: 60px
    }

    #portfolio .col-lg-4:last-child .btn-default {
        margin-bottom: 0;
    }

}

@media (min-width: 480px) and (max-width: 767px) {

    #portfolio .image-placeholder {
        float: left;
        margin: 20px;
    }

    #portfolio .col-lg-4 {
        text-align: initial;
    }

    #portfolio .btn-default {
        float: right;
        margin: 0 15px 40px;
    }

}

@media (min-width: 480px) and (max-width: 991px) {

    #portfolio h2 {
        font-size: 24px;
    }
}

#portfolio .posts-hide {
    background: rgba(94,159,163,0.6);
    height: 144px;
    margin-top: 144px;
    transition: all 300ms ease-in-out;
}

#portfolio .col-xs-12.col-sm-4.col-lg-4:hover .posts-hide {
    margin-top: 0px;
    transition: all 300ms ease-in-out;
}

#portfolio .col-xs-12.col-sm-4.col-lg-4:hover .image-placeholder {
    background-size: 160px;
    transition: all 300ms ease-in-out;
}

.posts-hide a {
    height: 100%;
    width: 100%;
    display: block;
}

.posts-hide a i {
    color: rgba(255,255,255,0.6);
    line-height: 144px;
}

.posts-hide a:hover i {
    color: rgba(255,255,255,0.9);
}


/*
VII. // Benefits
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#benefits .image-placeholder {
    width: 100%;
    height: 400px;
    background: #666;    
    display: inline-block;
    background: #605337 url("../img/home_office.jpg") center center/cover no-repeat scroll;
}

#benefits .col-md-5 {
    text-align: right;
    margin-top: 75px;
}

@media (max-width: 991px) {

    #benefits .col-md-5 {
        text-align: left;
        margin-top: 0;
    }
    
}

@media (max-width: 479px) {

    #benefits h1 {
        text-align: center;
    }

    #benefits h3 {
        font-size: 20px;
        text-align: center;
    }
}

.modal {
    text-align: justify;
    padding: 0 !important;
    color: #fff;
    text-shadow: none;
    min-width: 320px;
}

.modal h2 {
    text-align: left;
}

.modal-dialog {
    width: 100%;
    position: absolute;
    top: 25%;
    margin: 0;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-content {
    border-radius: 0;
    background: #666;
}

.modal-content .container {
    background: #666;
    width: 70%;
    margin: 0 15%;
}

@media (max-width: 991px) {

    .modal-content .container {
        width: 100%;
        margin: 0;
    }
    
}

.close {
    color: #ccc;
    text-shadow: none;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #999;
    opacity: 1;
}

/*
VIII. // Careers
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#careers {
    height: 500px;
    background: #666;
    background: #a6897c url("../img/sunset_people.jpg") center center/cover no-repeat fixed;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    display: block;
    text-align: center;
    text-shadow: 0 0 7px rgba(255,255,255,255.3);
}

#careers h1, 
#careers h3 {
    color: #4d4d4d;
}

#careers h1 {
    margin-top: 10%;
}

#careers h3 {
    max-width: 90%;
    margin: 0 5%;
}

@media (min-width: 1680px) {

    #careers h1 {
        margin-top: 7.5%;
    }
    
}

@media (min-width: 2560px) {

    #careers h1 {
        margin-top: 5%;
    }
    
}

/*
IX. // Features
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#features p {
    height: 100px;
    padding-bottom: 15px;
    overflow: hidden;
}

#features .image-placeholder {
    background: #666;
    width: 120%;
    height: 440px;
    margin-left: -20%;
    background: #9f9493 url("../img/workspace_set.jpg") center center/cover no-repeat scroll;
}

@media (min-width: 992px) and (max-width: 1199px) {

    #features .col-md-6 .col-md-6 h2 {
        font-size: 24px;
    }

    #features .col-md-6 .col-md-6 p {
        height: 135px;
    }
    
}

@media (max-width: 991px) {

    #features .image-placeholder {
        width: 100%;
        margin-left: 0;
    }

    #features p {
        height: auto;
    }

    #features h1 {
        margin-top: 30px;
    }

}

@media (max-width: 767px) {

    #features .btn-default {
        float: right;
    }

    #features h2 {
        clear: both;
    }

    .col-sm-6 ~ .col-sm-6 h2 {
        margin-top: 75px;
    }
    
}

/*
X. // Services
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#services .image-placeholder {
    background: #666;
    width: 100%;
    height: 400px;
    background: #86796d url("../img/think_future.jpg") center center/cover no-repeat scroll;
}

.tab-content {
    padding: 15px;
    background: #8b8f74;
    text-align: justify;
    color: #fff;
}

.nav-tabs {
    border: none;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li > a {
    color: #333;
    margin-right: 0;
    border: none;
    border-radius: 0;
}

@media (max-width: 767px) {

    .nav-tabs > li > a {
        padding: 10px 7px;
    }

}

@media (max-width: 1199px) {

    #services .col-md-7 {
        padding: 30px 15px;
    }

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #8b8f74;
    border: none;
}

#services blockquote {
    font-style: italic;
    height: 200px;
    border-left: solid 5px #89a02c;
}

#services blockquote p:before, blockquote p:after {
    content: '"';
}

@media (min-width: 480px) and (max-width: 991px) {

    #services blockquote {
        height: 120px;
    }
    
}

@media (max-width: 479px) {

    #services blockquote {
        height: 240px;
    }

    #carousel-testimonials .carousel-caption h4 {
        font-size: 16px;
    }
    
}

.testimonials-image-placeholder {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #666;
    float: left;
    margin-top: 30px;
}

#carousel-testimonials .item:nth-child(1) .testimonials-image-placeholder {
    background: #957373 url("../img/customer_1.jpg") center center/cover no-repeat scroll;
}

#carousel-testimonials .item:nth-child(2) .testimonials-image-placeholder {
    background: #9e7d6d url("../img/customer_2.jpg") center center/cover no-repeat scroll;
}

#carousel-testimonials .item:nth-child(3) .testimonials-image-placeholder {
    background: #967e78 url("../img/customer_3.jpg") center center/cover no-repeat scroll;
}

#services .carousel-caption {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 20px;
    color: #333;
    text-align: left;
    text-shadow: none;
}

#services .carousel-caption h4 {
    margin-bottom: 10px;
}

#services .pull-right {
    margin-top: 10px;
}

#services .carousel-control {
    position: relative;
    background: #ccc;
    display: inline-block;
    width: auto;
    font-size: 14px;
}

#services .carousel-control i {
    position: relative;
    font-size: 34px;
    color: #fff;
    padding: 0 12px 1px 11px;
    text-shadow: none;
    right: 0;
    left: 0;
}

#services .carousel-indicators { 
    position: relative;
    margin-top: -110px;
}

#services .carousel-indicators li {
    border: 1px solid #999;
}

#services .carousel-indicators .active {
    background: #999;
}

#services .col-md-8, #services .col-md-4 {
    padding: 0;
}

/*
XI. // Frequently Asked Questions
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#frequently-asked-questions {
    width: 100%;
}

#frequently-asked-questions .image-placeholder {
    background: #666;
    width: 120%;
    height: 440px;
    margin-left: 0;
    background: #aea29e url("../img/phone_call.jpg") center center/cover no-repeat scroll;
}

@media (max-width: 991px) {

    #frequently-asked-questions .image-placeholder {
        width: 100%;
    }

}

@media (max-width: 479px) {

    #frequently-asked-questions .image-placeholder {
        display: none;
    }

    .panel-group {
        margin-bottom: 0;
    }
    
}

.panel-group a,
.panel-group a:active,
.panel-group a:hover {
    color: inherit;
    text-decoration: none !important;
}

.panel {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading {
    padding: 0;
    border: none;
    border-radius: 0;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
    border: none;
}

.panel-group .panel+.panel {
    margin-top: 0;
}

.panel-heading h4 {
    display: flex;
}

.panel-heading a {
    padding: 10px 15px;
    font-size: 20px;
    width: 100%;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
    background: #ccc;
    background: #aea29e;
}

.plus-container {
    width: 22px;
    height: 22px;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
}

.plus-sign {
    margin-top: -10px;
    display: inline-block;
    font-size: 40px;
    transform: rotate(45deg);
    transition: all 200ms ease-in-out;   
}

.collapsed .plus-sign {
    transform: rotate(0deg);
    transition: all 200ms ease-in-out;    
}

.next-to-plus {
    display: inline-block;
    max-width: 85%;
}

/*
XII. // Contact
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

#contact {
    padding: 0 !important;
    display: block;
}

footer {
    background: #584e42;
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
}


footer .container {
    padding: 0;
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul li {
    list-style: none;
    display: inline-block;
}

footer nav ul {
    text-align: center;
    margin: 5px 0;
}

footer nav ul li a, 
footer nav ul li a:hover, 
footer nav ul li a:focus {
    color: #fff;
    text-decoration: none;
    padding: 10px 5px;
    display: inline-block;
    text-transform: uppercase;
}

footer nav ul li a:hover, 
footer nav ul li a:focus {
    background: #999;
}

.partners {
    background: #5e9fa3;
}

.partners .carousel-inner {
    height: 100px;
}

.partner {
    display: inline-block;
    width: 16.4%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.elegant {
    background-image: url("../img/elegant.png");
}

.monoit {
    background-image: url("../img/monoit.png");
}

.examps {
    background-image: url("../img/examps.png");
}

.logoexample {
    background-image: url("../img/logoexample.png");
}

.dinamic {
    background-image: url("../img/dinamic.png");
}

.trademarket {
    background-image: url("../img/trad_e-market.png");
}

.designal {
    background-image: url("../img/designal.png");
}

@media (min-width: 992px) {

    footer .col-md-6 + .col-md-3 {
        text-align: right;
    }

    footer .col-md-3 + .col-md-3 {
        border-left: solid 1px #fff;
    }

}

footer section {
    display: block;
}

.copyright {
    background: #4d4d4d;
    height: 50px;
}

.copyright p {
    line-height: 50px;
    margin: 0;
    float: left;
}

.copyright .container p br {
    display: none;
}

footer .socials {
    float: right;
}

@media (max-width: 1199px) {

    .partner {
        width: 19%;
    }

    footer section {
        padding: 30px 0;
    }

}

@media (max-width: 991px) {

    footer section {
        padding: 30px 0 60px;
    }

    .copyright p {
        line-height: 1.42857143;
        float: none;
        padding:15px;
    }

    .copyright .container p br {
        display: initial;
    }

    footer .socials {
        float: none;
        margin-top: -50px;
    }

    .copyright {
        height: auto;
    }

    .partner {
        width: 32%;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {

    footer .socials {
        float: right;
        margin-top: 10px;
    }

    footer section {
        padding: 30px 0;
    }

    .partner {
        width: 24%;
    }

}

@media (max-width: 479px) {

    footer .col-xs-6 {
        width: 100%;
        text-align: left !important;
        border: none !important;
    }

    .partner {
        width: 49%;
    }

    footer section {
        padding: 30px 0 60px;
    }

}

footer label {
    color: #fff;
}

.copyright a {
    text-decoration: underline;
}

nav + .container {
    padding: 0;
}

.socials a {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    color: #fff;
    opacity: 0.5;
}
 
.socials a:hover, 
.socials a:focus {
    opacity: 0.9;
}

.socials i {
    line-height: 50px;
}

#contact iframe {
    width: 100%;
    height: 270px;
    border: 0;
}

/*
XIII. // Other
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

@media (min-width: 992px) {

    #benefits .image-placeholder,
    #frequently-asked-questions .image-placeholder {
        -webkit-transform: perspective(600px) rotateY(-20deg);
        transform: perspective(600px) rotateY(-20deg);
        -webkit-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.3);
        box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.3);
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        margin-left: 30px;
    }
    
    #benefits .image-placeholder:hover,
    #frequently-asked-questions .image-placeholder:hover {
        -webkit-transform: perspective(600px) rotateY(0deg);
        transform: perspective(600px) rotateY(0deg);
        -webkit-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.3);
        box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.3);
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        margin-left: 0;
    }

    #features .image-placeholder {
        -webkit-transform: perspective(600px) rotateY(20deg);
        transform: perspective(600px) rotateY(20deg);
        -webkit-box-shadow: -30px 20px 30px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: -30px 20px 30px 0px rgba(0,0,0,0.3);
        box-shadow: -30px 20px 30px 0px rgba(0,0,0,0.3);
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        margin-left: -20%;
    }
    
    #features .image-placeholder:hover {
        -webkit-transform: perspective(600px) rotateY(0deg);
        transform: perspective(600px) rotateY(0deg);
        -webkit-box-shadow: -30px 20px 30px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: -30px 20px 30px 0px rgba(0,0,0,0.3);
        box-shadow: -30px 20px 30px 0px rgba(0,0,0,0.3);
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        margin-left: -15%;
    }
}
