/*gombok*/
.btn {
    display:inline-block;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size:18px;
    padding: .8em 1em;
    margin: 15px 0;
}

/*btn primary*/
.btn.primary {
    color:#fff;
    background: orange;
}
.btn.primary:hover {
    background: #171778;
}
/*success*/
.btn.success {
    background: forestgreen;
    color: yellow;
}
.btn.success:hover {
    background: yellow;
    color:forestgreen;
}
/*default*/
.btn.default {
    background: #fff;
    color:#666;
    border:1px solid #666;
}
.btn.default:hover {
    background: #666;
    color: #fff;
}

.btn.cancel {
    background: red;
    color:#fff;
}
.btn.cancel:hover {
    background: #fff;
    color: red;
}
.rounded {
    border-radius: 5px;
}