/*mobile first*/
.grid-container { /*alap rács beállítások*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

/*desktop*/
@media screen and (min-width: 960px) {
    .grid-container { /*adott kijelző méreten az elrendeződés*/
        grid-template-columns: repeat(3, 1fr);
    }
}

/*tablet*/
@media screen and (max-width: 959px) and (min-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


.card {
    border: 1px solid #efefef;
    padding: .5em;
    text-align: center;
    color:#111;
}

.card .head {
    height: 45px;
    border-bottom: 1px solid #efefef;
    margin: 0 -.5em; /*a hordozó doboz kétoldali paddingját huzzuk vele vissza*/
    overflow:hidden;
}

/*számok a kártya fejlécében*/
.card .head > span {
    display: inline-block;
    height: 45px;
    font-family: "Arial Narrow",Arial, sans-serif;
    font-weight: 900;
    transition: margin-top 500ms ease-in-out;
    font-size: 28px;
    float: right;
    margin-top:28px;
    margin-right: 15px;
    color:#e1e1e1;
}

.card h2 {
    text-transform: uppercase;
    font-size:24px;
    font-weight:900;
    margin: 20px auto;
}
.card .icon {
    background: orange;
    padding: 20px;
    color: #fff;
    transition: transform 500ms ease-in-out;
    font-size: 48px;
}
.card:hover .icon {
    transform: scaleX(-1);
}
.card:hover .head > span {
    margin-top: 5px;
}